@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

@font-face { 
    font-family: 'Tanker';  
    src: url("../fonts/Tanker-Regular.woff")format("woff"),
        url("../fonts/Tanker-Regular.eot")format("eot"),
        url("../fonts/Tanker-Regular.ttf")format("ttf"),
        url("../fonts/Tanker-Regular.woff2")format("woff2");
        
}


:root{
    --bg-blue: #5945FF;
    --nav-blue: #8172FF;
    --yellow: #FFBA00;
    --red: #FF2062;
}


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--bg-blue);
    font-family: Tanker;
}

h1{
    font-size: 3em;
    color: var(--yellow);
    line-height: .9em;
}

h2{
    font-size: 2.2em;
    color: white;
}

h3{
    font-size: 1.8em;
}

h4{
    font-size: 1.4em;
    color: white;
}

p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

img{
    width: 100%;
}

iframe{
    width: 100%;
}

header{
    display: flex;
    justify-content: center;
}
    .logo-img{
        width: 30%;
        padding: .5em 0;
    }

nav{
    background-color: var(--nav-blue);
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 90px; 
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px 40px 0 0;

    font-size: 1em;
}

    nav ul{
        display: flex;
        flex-direction: row;
    }
    nav ul li{
        display: flex;  
        padding: 0 1em;
    }
    nav ul li img{
        width: 30px;
        height: 30px;
    }
    nav a {
        text-decoration: none;
        color: white;
        padding-top: 0.3em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

.container{
        padding: 2.8em 0.8em;
    }
    .container > * {
        margin: 10px 0;
    }
    .container:first-child{
        padding: 0 .8em;
    }

    .home-main .container:nth-of-type(3){
        padding: 3em 0;
    }
    .home-main .container:nth-of-type(3) h2{
        padding: 0 0.5em;
    }


.header-img{
    height: 40vh;
    object-fit: cover;
    border-radius: 50px;
    margin-bottom: -20px;
}

.button{
    background-color: var(--red);
    padding: .5em 1.7em;
    border-radius: 50px;
    color: white;
    font-family: Tanker;
    font-size: 1.3em;
    text-decoration: none;
    display: inline-block;

}

    .horizontal-scroll-cards ol{
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        margin: 0;
    }

    .horizontal-scroll-cards li{
        list-style-type: none;
        background-color: white;
        margin: 0 10px;

        padding: 2.5em 1.8em;
        border-radius: 40px;
        flex-shrink: 0;
    }

    .horizontal-scroll-cards h3{
        color: var(--yellow)
    }

    .horizontal-scroll-cards p{
        width: 250px;
    }

    .home-cards p{
        width: 170px;
    }

    .horizontal-scroll-cards img{
        width: 60px;
        object-fit: cover;
        height: auto;
    }
    
.witte-tekst{
    color: white;
    font-weight: 600;
}

.container-img img{
    height: 40vh;
    object-fit: cover;
    border-radius: 50px;
}

.statistieken-section h3{
    color: var(--yellow)
}

.aanvragen-kaart-container h1{
    text-align: center;
}
.aanvragen-kaart-container h2{
    font-size: 1.4em;
    text-align: center;
}

fieldset{
    border: none;
    margin-top: 2em;
}
    form p{
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }
        form p:last-of-type{
            align-items: center;
        }

        form p label{
            color: white;
            font-weight: 500;
            margin-left: 10px;
            margin-bottom: 6px;
        }
        form p input[type=text]{
            height: 40px;
            border-radius: 50px;
            border: none; 
            padding-left: 15px;
            font-family: 'Montserrat', 'sans-serif';
            font-weight: 600;
        }
        form p input[type=submit]{
            border: none;
        }
        form p textarea{
            height: 100px;
            border-radius: 20px;
            width: 100%;
            padding: 15px;
            font-family: 'Montserrat', 'sans-serif';
            font-weight: 600;
        }


.tappunt-links li{
    list-style-type: disc;
    color: white;
    margin-left: 1em;
}
.tappunt-links li::marker{
    font-size: 20px;
}
.tappunt-links a{
    font-size: 1.8em;
    color: white;
}

.navigatie-ruimte{
    height: 80px;
}
    


/* https://www.youtube.com/watch?v=-HS9IIuT_Mo&ab_channel=dcode */
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-blue);
    transition: opacity 0.75s, visibility 0.75s;
    z-index: 100;
  }
  
  .loader--hidden {
    opacity: 0;
    visibility: hidden;
  }
  
  .loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: var(--yellow);
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
  }
  
  @keyframes loading {
    from {
      transform: rotate(0turn);
    }
    to {
      transform: rotate(1turn);
    }
  }